## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/

## VS Code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Test results
TestResults/
coverage/

## EF Core
*.dbmdl
*.jfm

## App settings (secrets)
appsettings.*.json
!appsettings.json

## OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
